/* Font import */
@font-face {
  font-family: 'Avenir';
  src: url('./fonts/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: 'Loves';
  src: url('./fonts/LOVES.ttf');
}

@font-face {
  font-family: 'Proletar';
  src: url('./fonts/Proletar-Regular.ttf');
}

/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', 'Georgia', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
h1 {
  float: left;
  margin: 0px;
  padding: 30px 10px 30px 100px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  font-family: 'Loves', 'Georgia', serif;
  font-size: 20px;
  padding-right: 30px;
}

ul.header {
  padding: 0;
  display: inline-block;
}

ul.header li a {
  text-decoration: none;
  padding: 30px 10px 30px 10px;
  display: inline-block;
  width: 150px;
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

.borderRight {
  border-right: 2px solid #000;
}

.imgLogo {
  width: 200px;
}

/* Sections */
.generalContent {
  padding: 100px 50px;
}

.content {
  display: inline-block;
  width: 39%;
  padding: 70px;
  vertical-align: middle;
}

.divider {
  display: inline-block;
  vertical-align: middle;
}

.imgHome {
  height: 400px;
}

ul.homeMenu li {
  list-style-type: none;
  margin: 0;
}

ul.homeMenu {
  padding: 0;
}

.sectionTitle {
  padding: 30px 0px;
  font-weight: bold;
  letter-spacing: 9px;
  font-family: 'Proletar', 'Georgia', serif;
}

.sectionContent{
  padding: 10px 50px;
}

.sectionBack {
  padding-top: 30px;
  letter-spacing: 5px;
  font-family: 'Loves', 'Georgia', serif;
}

.textBack {
  padding: 5px 15px 5px 18px;
  border-bottom: 1px solid #000;
  text-align: center;
}

/* Careers page */
.careersUpDown {
  padding: 20px 0px 20px 0px;
}

.careersTable {
  padding: 30px 200px 30px 200px;
}

table {
  border: 1px solid #cce6ff;
  border-radius: 5px;
}

td {
  padding: 15px;
}

/* Conact form */
.formContainer {
  padding: 50px 500px 50px 500px;
}

.formLines {
  height: 30px;
  line-height: 30px;
}

textarea {
  width: 100%;
}

input {
  height: 20px;
  width: 100%;
}