/* Font import */
@font-face {
  font-family: 'Avenir';
  src: url('./fonts/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: 'Loves';
  src: url('./fonts/LOVES.ttf');
}

@font-face {
  font-family: 'Proletar';
  src: url('./fonts/Proletar-Regular.ttf');
}

/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', 'Georgia', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
h1 {
  float: left;
  margin: 0px;
  padding: 30px 10px 30px 100px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  font-family: 'Loves', 'Georgia', serif;
  font-size: 24px;
}

ul.header {
  margin: 0;
  display: inline-block;
  padding-top: 18px;
}

ul.header li a {
  text-decoration: none;
  padding: 0px 23px 0px 23px;
  display: inline-block;
  text-align: center;
  font-size: 24px;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

.borderRight {
  border-right: 2px solid #000;
}

.imgLogo {
  width: 200px;
}

.divHeaderContainer {
  height: 125px;
  padding: 40px 0px 0px 75px;
}

.divHeader {
  display: inline-block;
}

.imgLogo {
  width: 168px;
  height: 109px;
}

.rightHeader {
  position: absolute;
  right: 78px;
}

/* Sections */
.generalContent {
  padding: 100px 67px 0px 42px;
}

.content {
  display: inline-block;
  vertical-align: middle;
}

.contentLeft {
  width: 44%;
}

.contentRight {
  width: 54%;
  text-align: center;
}

.divider {
  display: inline-block;
  vertical-align: middle;
}

.imgRight {
  height: 558px;
}

ul.homeMenu li {
  list-style-type: none;
  padding-left: 87px;
}

ul.homeMenu {
  padding: 0;
}

.liHomeMenu {
  padding: 23px 0px;
  font-size: 24px;
}

.butterflyMenu {
  position: relative;
  top: 6px;
  padding-right: 31px;
}

.sectionTitle {
  padding-left: 90px;
  font-family: 'Proletar', 'Georgia', serif;
  font-size: 24px;
}

.sectionContent{
  padding: 41px 30px 41px 65px;
}

.sectionBack {
  padding-top: 30px;
  letter-spacing: 5px;
  font-family: 'Loves', 'Georgia', serif;
}

.textBack {
  padding: 5px 15px 5px 18px;
  border-bottom: 1px solid #000;
  text-align: center;
}

/* Careers page */
.careersUpDown {
  padding: 20px 0px 20px 0px;
}

.divCareersTable {
  padding: 30px 200px 30px 200px;
}

.careersTable {
  border: 1px solid #cce6ff;
  border-radius: 5px;
}

.tdCareers {
  padding: 15px;
}

/* Conact form */
.formContainer {
  padding: 50px 500px 50px 500px;
}

.formLines {
  height: 30px;
  line-height: 30px;
}

textarea {
  width: 100%;
}

input {
  height: 20px;
  width: 100%;
}

/* Brain trust */

.divHorLine {
  height: 96px;
}

.staffTitle {
  font-family: 'Loves', 'Georgia', serif;
  font-size: 24px;
  text-align: center;
  padding-bottom: 153px;
}

.staffPicture {
  width: 241px;
  height: 241px;
}

.staffName {
  vertical-align: top;
  padding-top: 10px;
  text-align: center;
  font-family: 'Loves', 'Georgia', serif;
  font-size: 22px;
}

.staffTable {
  padding-bottom: 100px;
}

.trStaffNames {
  height: 90px;
}

.staffMember1 {
  background: url('./img/team/1.png') no-repeat;
  background-size: 100%;
}

.staffMember2 {
  background: url('./img/team/2.png') no-repeat;
  background-size: 100%;
}

.staffMember3 {
  background: url('./img/team/3.png') no-repeat;
  background-size: 100%;
}

.staffMember4 {
  background: url('./img/team/4.png') no-repeat;
  background-size: 100%;
}

.staffMember5 {
  background: url('./img/team/5.png') no-repeat;
  background-size: 100%;
}

.staffMember6 {
  background: url('./img/team/6.png') no-repeat;
  background-size: 100%;
}

.staffMember7 {
  background: url('./img/team/7.png') no-repeat;
  background-size: 100%;
}

.staffMember8 {
  background: url('./img/team/8.png') no-repeat;
  background-size: 100%;
}

.staffMember9 {
  background: url('./img/team/9.png') no-repeat;
  background-size: 100%;
}

.staffMember10 {
  background: url('./img/team/10.png') no-repeat;
  background-size: 100%;
}

.staffMember11 {
  background: url('./img/team/11.png') no-repeat;
  background-size: 100%;
}

.staffMember12 {
  background: url('./img/team/12.png') no-repeat;
  background-size: 100%;
}

.staffMember13 {
  background: url('./img/team/13.png') no-repeat;
  background-size: 100%;
}

.staffMember14 {
  background: url('./img/team/14.png') no-repeat;
  background-size: 100%;
}

.staffMember15 {
  background: url('./img/team/15.png') no-repeat;
  background-size: 100%;
}

.staffMember16 {
  background: url('./img/team/16.png') no-repeat;
  background-size: 100%;
}

.staffMember17 {
  background: url('./img/team/17.png') no-repeat;
  background-size: 100%;
}

.staffMember18 {
  background: url('./img/team/18.png') no-repeat;
  background-size: 100%;
}

.staffMember19 {
  background: url('./img/team/19.png') no-repeat;
  background-size: 100%;
}

.staffMember20 {
  background: url('./img/team/20.png') no-repeat;
  background-size: 100%;
}

.staffMember21 {
  background: url('./img/team/21.png') no-repeat;
  background-size: 100%;
}

.staffMember22 {
  background: url('./img/team/22.png') no-repeat;
  background-size: 100%;
}

.staffMember23 {
  background: url('./img/team/23.png') no-repeat;
  background-size: 100%;
}

.staffMember24 {
  background: url('./img/team/24.png') no-repeat;
  background-size: 100%;
}

.staffMember25 {
  background: url('./img/team/25.png') no-repeat;
  background-size: 100%;
}

.staffMember26 {
  background: url('./img/team/26.png') no-repeat;
  background-size: 100%;
}

.staffMember27 {
  background: url('./img/team/26.png') no-repeat;
  background-size: 100%;
}

.staffMember1:hover {
  background: url('./img/team/1-3.png') no-repeat;
  background-size: 100%;
}

.staffMember2:hover {
  background: url('./img/team/2-3.png') no-repeat;
  background-size: 100%;
}

.staffMember3:hover {
  background: url('./img/team/3-3.png') no-repeat;
  background-size: 100%;
}

.staffMember4:hover {
  background: url('./img/team/4-3.png') no-repeat;
  background-size: 100%;
}

.staffMember5:hover {
  background: url('./img/team/5-3.png') no-repeat;
  background-size: 100%;
}

.staffMember6:hover {
  background: url('./img/team/6-2.png') no-repeat;
  background-size: 100%;
}

.staffMember7:hover {
  background: url('./img/team/7-3.png') no-repeat;
  background-size: 100%;
}

.staffMember8:hover {
  background: url('./img/team/8-3.png') no-repeat;
  background-size: 100%;
}

.staffMember9:hover {
  background: url('./img/team/9-3.png') no-repeat;
  background-size: 100%;
}

.staffMember10:hover {
  background: url('./img/team/10-3.png') no-repeat;
  background-size: 100%;
}

.staffMember11:hover {
  background: url('./img/team/11-3.png') no-repeat;
  background-size: 100%;
}

.staffMember12:hover {
  background: url('./img/team/12-3.png') no-repeat;
  background-size: 100%;
}

.staffMember13:hover {
  background: url('./img/team/13-3.png') no-repeat;
  background-size: 100%;
}

.staffMember14:hover {
  background: url('./img/team/14-3.png') no-repeat;
  background-size: 100%;
}

.staffMember15:hover {
  background: url('./img/team/15-3.png') no-repeat;
  background-size: 100%;
}

.staffMember16:hover {
  background: url('./img/team/16-3.png') no-repeat;
  background-size: 100%;
}

.staffMember17:hover {
  background: url('./img/team/17-3.png') no-repeat;
  background-size: 100%;
}

.staffMember18:hover {
  background: url('./img/team/18-3.png') no-repeat;
  background-size: 100%;
}

.staffMember19:hover {
  background: url('./img/team/19-3.png') no-repeat;
  background-size: 100%;
}

.staffMember20:hover {
  background: url('./img/team/20-3.png') no-repeat;
  background-size: 100%;
}

.staffMember21:hover {
  background: url('./img/team/21-3.png') no-repeat;
  background-size: 100%;
}

.staffMember22:hover {
  background: url('./img/team/22-3.png') no-repeat;
  background-size: 100%;
}

.staffMember23:hover {
  background: url('./img/team/23-3.png') no-repeat;
  background-size: 100%;
}

.staffMember24:hover {
  background: url('./img/team/24-3.png') no-repeat;
  background-size: 100%;
}

.staffMember25:hover {
  background: url('./img/team/25-3.png') no-repeat;
  background-size: 100%;
}

.staffMember26:hover {
  background: url('./img/team/26-3.png') no-repeat;
  background-size: 100%;
}

.staffMember27:hover {
  background: url('./img/team/26-3.png') no-repeat;
  background-size: 100%;
}
