.headerMenu {
  display: inline-block;
  padding: 0px 40px 0px 40px;
}

.content {
  display: inline-block;
  width: 40%;
  padding: 70px;
  vertical-align: middle;
}

.btnMenu {
  width: 200px;
  border: none;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.imgServices {
  width: 600px;
}